@font-face{
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
}

.container .header{
    width: 80%;
    height: 80px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a{
    text-decoration: none; /* 링크 밑줄 없애기 */
    color: white;
    font-family: abster; /* 글꼴 */
}
  
.container .nav ul li {
    display: inline-block; /* 화면 일부 차지 */
    margin: 0 10px; /* top, right */
}
  
.container .nav ul li a{
    text-decoration: none; /* 링크 밑줄 없애기 */
    color: white;
}
  
.container .nav ul li a:hover{
    color: #1fdfdf;
}
  
.container .hero {
    position: absolute; /* 절대적인 값 */
    left: 50%;
    top : 50%;
    transform: translate(-50%, -50%); /* 위치이동 */
    color: white;
    text-align: center; /* 중앙 정렬 */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* 글꼴 */
}
  
.container .hero h2 {
    font-size: 60px;
    margin-bottom: 20px; /* h2와 p 사이 여백 */
}
  
.container .hero p {
    font-size: 22px;
}
  
.container .hero button {
    background: none;
    border: 2px solid darkseagreen;
    color: white;
    padding: 15px 20px;
    border-radius: 20px; /* 테두리 둥글게 */
    margin-top: 30px; /* p와 버튼 사이 여백 */
    outline: none; /* 포커스 테두리 */
    cursor: pointer; /* 커서 모양 지정 */
    transition: all .4s; /* 모든속성, 0.4초동안 전환 */
}